.menuDropdown {
  transform: translateX(-15px);
}

.clickableIcon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.avatar {
  radius: xl;
  variant: light;
  color: blue;
  size: 1.9rem;
}

.searchIcon {
  margin-top: 8px;
}

.searchIcon.active {
  color: orange;
}

.accountlabel {
  padding: 3px 0;
  font-size: 0.875rem;
  padding-left: 10px;
}

.email {
  padding: 10px 0;
  font-size: 0.875rem;
  padding-left: 15px;
}

.icon {
  width: 14px;
  height: 14px;
}