.heading {
  font-size: 2rem;
  /* ロゴのサイズを大きく */
  /* font-weight: bold; */
  /* 太字にしてロゴっぽさを出す */
  /* color: var(--mantine-color-yellow-4); */
  text-decoration: none;
  display: inline-block;
  /* transition: transform 0.3s ease, color 0.3s ease; */
  /* マウスオーバーでの動きと色の変化 */
}

.heading:hover {
  color: var(--mantine-color-yellow-6);
  /* transform: scale(1.05); */
  /* マウスオーバーで少し拡大 */
}

.subtitle {
  font-size: 0.9rem;
  /* サブタイトルを小さく */
  margin-left: 8px;
  color: var(--mantine-color-gray-6);
  /* 控えめな色 */
}

@media (prefers-color-scheme: dark) {
  .heading {
    color: var(--mantine-color-yellow-3);
  }

  .subtitle {
    color: var(--mantine-color-gray-4);
    /* 暗いテーマでのサブタイトル色 */
  }
}

.logoText {
  color: rgb(250 250 250 / var(--tw-text-opacity));
  /* 白っぽい文字色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* 影をつけて立体感を出す */
}

.logoContainer {
  cursor: pointer;
  /* カーソルをポインターにする */
  font-family: 'Halant', "Kosugi Maru", sans-serif;
}