.control {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xxs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-2);
  transition: background-color 150ms ease, border-color 150ms ease;
  background-color: var(--mantine-color-body);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: var(--mantine-font-size-sm);
}

.menuDropdown {
  background-color: var(--mantine-color-body);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--mantine-radius-md);
}

.controlExpanded {
  background-color: var(--mantine-color-body);
  border-color: var(--mantine-color-primary);
  font-size: var(--mantine-font-size-sm);
}

.control:hover {
  border-color: var(--mantine-color-primary);
}

.langlabel {
  padding: 3px 0;
  font-size: 0.875rem;
  padding-top: 6.667px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6.667px;
}

.label {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);
}

.iconExpanded {
  transform: rotate(180deg);
}

.flag {
  width: 20px;
  height: 14px;
}