.clickableAvatar {
  cursor: pointer;
}

.clickableAvatar.active .userIcon {
  color: orange;
  /* メニューが開かれたときの色を指定 */
}

.userIcon {
  margin-top: 5px;
  /* transition: color 0.3s ease; */
  /* 色の変更を滑らかにするためにトランジションを追加 */
}

.menuDropdown {
  transform: translateX(-15px);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accountlabel {
  padding: 3px 0;
  font-size: 0.875rem;
  padding-left: 10px;
}

.email {
  padding: 10px 0;
  font-size: 0.875rem;
  padding-left: 15px;
}

.icon {
  width: 14px;
  height: 14px;
}