.header {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
  gap: var(--mantine-spacing-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexGrow {
  flex: 1;
}

.searchBoxWrapper {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  /* ボックスとボタンの間に隙間を追加 */
  margin-left: 20px;
  /* 左の余白 */
  margin-right: 20px;
  /* 右の余白 */
  width: calc(100% - 40px);
  /* 幅を余白分調整 */
}

.searchBox {
  flex-grow: 1;
  margin-right: -0.4rem;
}