.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.control:hover {
  background-color: var(--mantine-color-gray-light-hover);
}

.activeControl {
  color: var(--mantine-color-primary);
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-lg);
  margin-left: var(--mantine-spacing-lg);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-text);
  border-left: 1px solid var(--mantine-colors-gray-3);
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.link:hover {
  background-color: var(--mantine-color-gray-light-hover);
}

.activeLink {
  color: var(--mantine-color-primary);
}

.chevron {
  transition: transform 200ms ease;
}

.rotateLtr {
  transform: rotate(90deg);
}

.rotateRtl {
  transform: rotate(-90deg);
}

.box {
  display: flex;
  align-items: center;
}