.card {
  transform: scale(1.01) translate(0px, 0px);
  /* 初期状態で少し浮き上がったように見せる */
  box-shadow: var(--mantine-shadow-sm);
  /* 初期状態でのシャドウ */
  transition: transform 150ms ease, box-shadow 150ms ease;
}

.card:hover {
  transform: scale(1.03) translate(1px, 1px);
  /* ホバー時に右下にさらに浮き上がる */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* 右下に影を落とす */
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.customactionicon {
  color: rgba(255, 215, 0, 0.2);
  padding: 0;
  margin: 0;
  margin-right: -4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: none;
  outline: none;
  box-shadow: none;
}

.customactionicon:active {
  transform: none;
  box-shadow: none;
}